table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 20%;
   
  }

  .avatar {
    border-radius: 100%;
    width: 75px;
}

.cursor {
    cursor: pointer;
}
  .actions {
      /* display: flex;
      flex-direction: row; */
     /* justify-content: space-between; 
    gap: 10px;  */
      
  }
  .actions button {
    /* font-size: 0.5rem;
    height: fit-content;
    width: max-content; */
  }