<!-- <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
</mat-form-field> -->


  <div class="mat-elevation-z8">
    <ng-container *ngIf="isloading; else elseTemplate">

      <mat-spinner>
      </mat-spinner>
      
    </ng-container>
    <ng-template #elseTemplate>
      <table mat-table [dataSource]="data" class="example-table">
    
        <!-- ID Column -->
        <ng-container matColumnDef="img">
          <th mat-header-cell *matHeaderCellDef > Foto </th>
          <td mat-cell *matCellDef="let row"> 
              <app-cargar-img [url]="row.getURLImg()"></app-cargar-img>
              
          </td>
        </ng-container>
    
        <!-- Progress Column -->
        <ng-container matColumnDef="name" class="name">
          <th mat-header-cell *matHeaderCellDef > Name </th>
          <td mat-cell *matCellDef="let row"> {{row.name}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="usuario" class="username">
          <th mat-header-cell *matHeaderCellDef > register by </th>
          <td mat-cell *matCellDef="let row"> {{row.usuario.name}} </td>
        </ng-container>
    
        <!-- Fruit Column -->
        <ng-container matColumnDef="hospitales" class="list">
          <th mat-header-cell *matHeaderCellDef > Hospital asociated </th>
          <td mat-cell *matCellDef="let row"> 


            <mat-list role="list">
              <mat-list-item role="listitem" *ngFor="let hospital of row.hospitales">
                <mat-icon matListItemIcon>done</mat-icon>
                {{hospital.name}} 
              </mat-list-item>
            
            </mat-list>
    
          </td>
        </ng-container>
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef class="actions"> Actions</th>
          <td mat-cell *matCellDef="let row" class = "actions">  
              <button mat-icon-button color="primary" aria-label="Example icon button with a menu icon "
              matTooltip="Edit doctor" matTooltipPosition= "right" [routerLink]="['../edit-doctor', row.id]">
                  <mat-icon>edit</mat-icon>
                </button>
                <button mat-icon-button color="warn" aria-label="Example icon button with a heart icon" 
                matTooltip="Delete doctor" matTooltipPosition= "right">
                  <mat-icon>delete</mat-icon>
                </button>
          </td>
        </ng-container> 
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        
    
        <!-- Row shown when there is no matching data. -->
        <!-- <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr> -->
      </table>
  </ng-template>
  
    <mat-paginator  #paginator [length]="resultsLength" [pageSizeOptions]="pageSizes"  aria-label="Select page of users"></mat-paginator> 
    
  </div>
  


  

  
  