<h1>Edit Doctor</h1>
<div class="container">
  <app-card-edit-img [refobj] = "doctor"></app-card-edit-img>
 
    <mat-card class="card-edit">
        <mat-card-header>
            <mat-card-title>User Data</mat-card-title>
            <mat-card-subtitle>Modify your data, if you wish.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content> 
          <form [formGroup]="fGroupEditDataDoctor" class="formedit" (submit)="updateDoctor()">
        

             <mat-form-field class="full-width" appearance="outline">
                <mat-label>Name</mat-label>
                <input type="text" matInput [formControl]="name" placeholder="Name and Last Name" >
                <mat-error *ngIf="name.hasError('minlength') && !name.hasError('required')">
                  Please enter a valid Name and Last name.
                </mat-error>
                <mat-error *ngIf="name.hasError('required')">
                  Name and Last Name is <strong>required</strong>
                </mat-error>
              </mat-form-field>
              <mat-form-field class="example-chip-list" appearance="outline"  class="full-width">
                <mat-label>Hospital asociated</mat-label>
                <mat-chip-grid #chipGrid aria-label="Fruit selection">
                  <mat-chip-row *ngFor="let fruit of hospitals" (removed)="remove(fruit)">
                    {{fruit.name}}
                    <button matChipRemove [attr.aria-label]="'remove ' + fruit">
                      <mat-icon>cancel</mat-icon>
                    </button>
                  </mat-chip-row>
                </mat-chip-grid>
                <input placeholder="New Hospital..." #fruitInput [formControl]="hospitalsCtrl"
                  [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
                  [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                  
                  />
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
                  <mat-option *ngFor="let fruit of filteredHospital | async" [value]="fruit._id">
                    {{fruit.name}}
                  </mat-option>
                </mat-autocomplete>
              </mat-form-field>
             
    
               
                  <mat-error *ngIf="error">
                    <strong>*</strong> Atencion !! <strong> {{error}}</strong>
                  </mat-error>
    
                
                  <button id= "btnRegister" mat-raised-button color="primary" focus  [disabled]="disabledbtn" class="full-width">
                      Update your data
                 </button>
    
                    
                </form>
              
    
          
      </mat-card-content>
      
    </mat-card>
    
   
  
</div>