.img-circle {
    /* border-radius: 50%; */
    width: 350px; 
    height: 350px;
    object-fit: contain;
    border: 1px solid black;
    object-fit: cover;
    
  }
  .imgcontainer {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .imgcard {
    height: min-content;
  }
  .example-header-image {
    background-image: url('../../../assets/img/user/anonimos-smoll.png');
    background-size: cover;
  }
  .card-editimg {
    height: 100%;
  }