<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Small</mat-card-subtitle>
        <img mat-card-sm-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit inventore maxime repudiandae, praesentium incidunt consequuntur esse veniam quaerat quam velit rerum recusandae eveniet voluptas reiciendis deleniti aspernatur odit voluptates dolore!
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Medium</mat-card-subtitle>
        <img mat-card-md-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"  alt="Image of a Shiba Inu">
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi iure provident, molestias quae commodi corrupti voluptas cumque aperiam! Voluptatum veritatis in deleniti animi incidunt pariatur quisquam porro ea praesentium voluptas?
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Large</mat-card-subtitle>
        <img mat-card-lg-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Asperiores ullam incidunt ea, corrupti eos itaque, aliquam quae deleniti nulla eligendi voluptatem optio dolorem quis nobis recusandae veritatis, architecto quia ducimus.
    </mat-card-content>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title-group>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Extra large</mat-card-subtitle>
        <img mat-card-xl-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" >
      </mat-card-title-group>
    </mat-card-header>
    <mat-card-content>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Doloribus ipsum, delectus sit neque accusantium repudiandae dolor quos! Libero officiis qui placeat quidem ut nemo incidunt sint architecto facere optio! Nemo.
    </mat-card-content>
  </mat-card>
